<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">GET Request</div>
            <div class="panel-body">
                <button class="btn btn-primary" onclick="performGetRequest1()">Get Todos</button>
                <button class="btn btn-warning" onclick="clearOutput()">Clear</button>
                <div class="panel-body" id="getResult1"></div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">GET Request with Paramaters</div>
                <div class="panel-body">
                    <input type="text" class="form-control" id="todoId" placeholder="Todo ID ..." /><br/>
                    <button class="btn btn-primary" onclick="performGetRequest2()">Get Todos</button>
                    <button class="btn btn-warning" onclick="clearOutput()">Clear</button>
                    <div class="panel-body" id="getResult2"></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">POST Request</div>
                <div class="panel-body">
                    <form class="form-inline" id="todoInputForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="todoTitle" placeholder="Todo Title ...">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form><br/>
                    <button class="btn btn-warning" onclick="clearOutput()">Clear</button>
                    <div class="panel-body" id="postResult"></div>
                </div>
            </div>
        </div>
        <!--Import jQuery before materialize.js-->


        <script type="text/javascript" src="./js/bot.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>