<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
</head>

<body>
    <iframe height="1000" width="100%" src="https://bot.api.ai/d6331fad-ae7f-4032-a8a8-d9603c678b92"></iframe>




    <script text="type/javascript" src="./js/mensaje.js"></script>
</body>

</html>